.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: var(--dark--bg-color);
  color: var(--light-color);
  width: 45px;
  height: 45px;
  right: 0px;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  line-height: 45px;
  pointer-events: none;
  box-shadow: 0 4px 12px rgba(80, 81, 82, 0.3);
  transition: all 0.3s ease;
}

.scrollToTop-btn.active {
  right: 3rem;
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}

.scrollToTop-btn i {
  transition: all 0.3s ease;
}

.scrollToTop-btn:hover i {
  transform: translateY(-3px);
}
