.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}

.sticky-nav {
  height: 7rem !important;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 131px;
  border-radius: 20px;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}

.nav-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > ul > li {
  margin: 5px;
  cursor: pointer;
}

.nav-links > ul > li:nth-last-child(3):hover {
  border-bottom: 1px solid lightgray;
}

.nav-links > ul > li > a {
  color: lightgray;
}

.account {
  background-color: transparent;
}

.account a:hover {
  border: none;
}

.login-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
  margin: 10px;
}

.burger-menu {
  font-size: 1.5rem;
  display: hidden;
  cursor: pointer;
}

@media all and (max-width: 776px) {
  .contact,
  .about-us {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu a i {
    text-decoration: none;
    font-size: 1.9rem;
  }

  .burger-menu {
    display: flex;
  }
}
