* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #100f0f;
}

.app {
  padding: 5px;
}

img {
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  color: white;
  border: 1px solid lightgrey;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.logo img {
  width: 151px;
  border-radius: 20px;
}

.nav-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > ul > li {
  padding: 10px;
  margin: 5px;
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.search-container {
  padding: 10px;
}

.filter {
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  gap: 15px;
}

.search input {
  min-width: 250px;
  flex-basis: 70%;
}

.search input,
.search button {
  border: none;
  padding: 8px;
}

.search button {
  cursor: pointer;
  background-color: lightgrey;
  flex-basis: 30%;
  border-radius: 10px;
}

.filter .filter-btn {
  cursor: pointer;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.filter .filter-btn:hover {
  background-color: white;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.shimmer-card {
  margin: 5px;
  width: 22rem;
  height: 23.5rem;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 40px;
  position: relative;
}

.card-content,
.card-content-sec,
.card-content-half,
.card-content-img {
  border-radius: 8px;
  /* background-color: rgb(151, 145, 145); */
  background: linear-gradient(to right, rgb(151, 145, 145), rgb(179, 175, 175));
  animation: backgroundTransition 5s linear infinite;
  position: absolute;
  background-size: 200% 100%;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
  /* 100% {
    background-position: 0% 0%;
  } */
}

.card-content-img {
  width: 20rem;
  height: 9rem;
  top: calc(100% - 360px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content {
  width: 20rem;
  height: 3rem;
  top: calc(100% - 80px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content-sec {
  width: 20rem;
  height: 3rem;
  top: calc(100% - 140px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content-half {
  width: 80%;
  height: 3rem;
  top: calc(100% - 200px);
  right: calc(100% - 436px);
  transform: translateX(-50%);
}
