*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #100f0f;
  --accent: #af6e4d;
  --accent: #af6e4d;

  --lightgray-color: lightgray;
  --light-color: #fffbff;
  --light--bg-color: #fffbff;
  --dark-color: #04030f;
  --dark--bg-color: #04030f;
  --gray--bg-color: #c7c6c6;
  --dark-brown: #c98766;
  --light-brown: #f1dabf;
  --primary-cta: #af6e4d;
  --primary-cta-hover: #b98064;
  --secondary-light-color: #cccccc;
  --sm-text: #d1d1d1;
  --dark-sm-text: #080808;
  --black: #000;
  --secondary-black: #111;
  --white: #fff;
  --dark-gray: #5a5a5a;
  --light-gray: #d3d3d3;
  --serif-font: "Cardo", serif;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-track {
  background: var(--light-color);
  height: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--lightgray-color);
}

.light-body {
  background-color: var(--light--bg-color);
  color: var(--bg-color);
}

.light-body a {
  color: var(--bg-color);
}

section {
  padding: 4rem;
}

li {
  list-style-type: none;
}

.section-title {
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
}

.section-sub {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  position: relative;
  color: var(--secondary-light-color);
}

.sm-text {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--sm-text);
  letter-spacing: 0.3px;
}

.md-title {
  font-family: var(--main-font);
  font-size: 2rem;
  line-height: 1.6;
  color: var(--sm-text);
  letter-spacing: 0.3px;
}

.paragraph {
  margin-bottom: 1rem;
}

.light-body .sm-text {
  color: var(--dark-sm-text);
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.light-body .md-title {
  color: var(--dark-color);
}

.light-body .section-sub {
  color: var(--secondary-black);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
}

.app {
  position: relative;
  padding: 5px;
}

.main-page {
  position: relative;
}

img {
  object-fit: cover;
}

.search-container {
  padding: 10px;
}

.filter {
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search {
  display: flex;
  gap: 15px;
}

.search input {
  min-width: 250px;
  flex-basis: 70%;
}

.search input,
.search button {
  border: none;
  padding: 8px;
}

.search button {
  cursor: pointer;
  background-color: lightgrey;
  flex-basis: 30%;
  border-radius: 10px;
}

.filter .filter-btn {
  cursor: pointer;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.filter .filter-btn:hover {
  background-color: white;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #100f0f;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.shimmer-card {
  margin: 5px;
  width: 22rem;
  height: 23.5rem;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 40px;
  position: relative;
}

.card-content,
.card-content-sec,
.card-content-half,
.card-content-img {
  border-radius: 8px;
  /* background-color: rgb(151, 145, 145); */
  background: linear-gradient(to right, rgb(151, 145, 145), rgb(179, 175, 175));
  animation: backgroundTransition 5s linear infinite;
  position: absolute;
  background-size: 200% 100%;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
  /* 100% {
    background-position: 0% 0%;
  } */
}

.card-content-img {
  width: 20rem;
  height: 9rem;
  top: calc(100% - 360px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content {
  width: 20rem;
  height: 3rem;
  top: calc(100% - 80px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content-sec {
  width: 20rem;
  height: 3rem;
  top: calc(100% - 140px);
  right: calc(100% - 495px);
  transform: translateX(-50%);
}

.card-content-half {
  width: 80%;
  height: 3rem;
  top: calc(100% - 200px);
  right: calc(100% - 436px);
  transform: translateX(-50%);
}
